<!-- Multiline flex unit -->
div(class=`{{modifier_class}} ${uiA`f color-bg-number m-bottom`}`)
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-10`)
    | 1
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-36`)
    | 2
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-20`)
    | 3
div(class=`{{modifier_class}} ${uiA`f f-column color-bg-number h-200`}`)
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-10`)
    | 1
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-36`)
    | 2
  span(class=uiA`p-5 m-5 color-bg-medium-gray color-white font-size-20`)
    | 3
