<!-- Flex child unit -->
div(class=uiA`f border-panel m-bottom`)
  span(class=`{{modifier_class}} ${uiA`p-5 m-5 color-bg-purple-blue color-white font-size-10`}`)
    | 1
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-36`)
    | 2
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-20`)
    | 3

div(class=uiA`f f-column border-panel`)
  span(class=`{{modifier_class}} ${uiA`p-5 m-5 color-bg-purple-blue color-white font-size-10`}`)
    | 1
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-36`)
    | 2
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-20`)
    | 3
