<!-- Multiline flex unit -->
div(class=`{{modifier_class}} ${uiA`f color-bg-number`}`)
  span(class=uiA`color-bg-medium-gray color-white font-size-20`)
    | 1
  span(class=uiA`color-bg-medium-gray color-white font-size-20`)
    | 2
  span(class=uiA`color-bg-medium-gray color-white font-size-20`)
    | 3
  span(class=uiA`color-bg-medium-gray color-white font-size-20`)
    | 4
  span(class=uiA`color-bg-medium-gray color-white font-size-20`)
    | 5
