<!-- Button Switch -->
- var switchButtonData = ["Option 1", "Option 2", "Option 3", "Option 4", "Option 5", "Option 6"]
div(class=`${uiButtonSwitch``}`)
  each item, index in switchButtonData
    button(class=`${uiButtonSwitch`__button --active:${index == 2}`}`)
      = item
br
div(class=`${uiButtonSwitch`--light-blue --round`}`)
  each item, index in switchButtonData
    button(class=`${uiButtonSwitch`__button --active:${index == 2}`}`)
      = item
br
div(class=`${uiButtonSwitch`--light-blue --round`}`)
  each item, index in switchButtonData
    button(class=`${uiButtonSwitch`__button --active:${index == 0 || index == 2}`}`)
      = item