<!-- Input Group -->
div(class=uiA`w-200`)
  div(class=uiInputGroup`--after`)
    input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
    div(class=uiInputGroup`__after`)
      div(class=uiA`placeholder w-15`)