<!-- Input Text -->
input(class=`${uiInputText``} ${uiA`inline w-150`} {{modifier_class}}` type="text")
input(class=`${uiInputText``} ${uiA`inline w-150`} {{modifier_class}} pseudo-class-focus` type="text" )
input(class=`${uiInputText``} ${uiA`inline w-150`} {{modifier_class}}` type="text" disabled)
input(class=`${uiInputText``} ${uiA`inline w-150`} {{modifier_class}}` type="text" readonly)