div(class=uiA`f`)
  <!-- Input Group Legacy -->
  div(class=uiA`w-200 m-right`)
    div(class=uiInputGroupLegacy`--error-inside`)
      input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")
      div(class=uiInputGroupLegacy`__error`)
        div(class=uiA`placeholder w-15 color-bg-red`)
  <!-- Input Group Legacy -->
  div(class=uiA`w-200`)
    div(class=uiInputGroupLegacy`--after --error-inside`)
      input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")
      div(class=uiInputGroupLegacy`__error`)
        div(class=uiA`placeholder w-15 color-bg-red`)
      div(class=uiInputGroupLegacy`__after`)
        div(class=uiA`placeholder w-15`)