<!-- Input Text -->
div(class=`${uiA`f`}`)
  input(class=`${uiInputText`--stack-left`} {{modifier_class}} ${uiA`inline w-150`}` type="text")
  input(class=`${uiInputText`--stack`} {{modifier_class}} ${uiA`inline w-150`}` type="text")
  input(class=`${uiInputText`--stack-right`} {{modifier_class}} ${uiA`inline w-150`}` type="text")
