<!-- Input Group -->
div(class=uiA`h-100 w-200`)
  div(class=uiInputGroup``)
    input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
    div(class=uiInputGroup`__dropdown`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)