<!-- Input Text -->
div(class=`${uiA`f`}`)
  input(class=`${uiInputText`--stack-left`} ${uiA`inline w-150`}` type="text")
  input(class=`${uiInputText`--stack`} ${uiA`inline w-150`}` type="text")
  input(class=`${uiInputText`--stack-right`} ${uiA`inline w-150`}` type="text")
