<!-- Input Group Legacy -->
div(class=uiA`w-200`)
  div(class=uiInputGroupLegacy`--after`)
    input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")
    div(class=uiInputGroupLegacy`__after`)
      div(class=uiA`placeholder w-15`)