<!-- Input Group Legacy-->
div(class=uiA`w-200`)
  div(class=uiInputGroupLegacy`--before`)
    div(class=uiInputGroupLegacy`__before`)
      div(class=uiA`placeholder w-15`)
    input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")