div(class=uiA`f`)
  <!-- Input Group -->
  div(class=uiA`w-200 m-right`)
    div(class=uiInputGroup`--error-inside`)
      input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
      div(class=uiInputGroup`__error`)
        div(class=uiA`placeholder w-15 color-bg-red`)
  <!-- Input Group -->
  div(class=uiA`w-200`)
    div(class=uiInputGroup`--after --error-inside`)
      input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
      div(class=uiInputGroup`__error`)
        div(class=uiA`placeholder w-15 color-bg-red`)
      div(class=uiInputGroup`__after`)
        div(class=uiA`placeholder w-15`)