<!-- Input Group Legacy -->
div(class=uiA`h-100 w-200`)
  div(class=uiInputGroupLegacy``)
    input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")
    div(class=uiInputGroupLegacy`__dropdown`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)