<!-- Input Group Legacy-->
div(class=uiA`h-100 w-200`)
  div(class=uiInputGroupLegacy`--before --after`)
    div(class=uiInputGroupLegacy`__before`)
      div(class=uiA`placeholder w-15`)
    input(class=`${uiInputText``} ${uiInputGroupLegacy`__input`}` type="text")
    div(class=uiInputGroupLegacy`__after`)
      div(class=uiA`placeholder w-15`)
    div(class=uiInputGroupLegacy`__dropdown`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)