<!-- Input Group -->
div(class=uiA`w-200`)
  div(class=uiInputGroup`--before`)
    input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
    div(class=uiInputGroup`__before`)
      div(class=uiA`placeholder w-15`)