<!-- Input Group -->
div(class=uiA`h-100 w-200`)
  div(class=uiInputGroup`--before --after`)
    div(class=uiInputGroup`__before`)
      div(class=uiA`placeholder w-15`)
    input(class=`${uiInputText``} ${uiInputGroup`__input`}` type="text")
    div(class=uiInputGroup`__after`)
      div(class=uiA`placeholder w-15`)
    div(class=uiInputGroup`__dropdown`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)
      div(class=uiA`placeholder w-100 m-small`)